<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.testngconcept.Test5555"></listener>
	</listeners>
	<test name="chrome browser">

		<classes>
			<class name="org.testngconcept.Test123" />

		</classes>
	</test> <!--
	Test -->


</suite> <!--
Suite -->
